.idea

**/.idea
**/.project
**/node_modules
**/dist
**/build

.gitkeep
.gitignore
.babelrc
.eslintrc.js
.editorconfig
.dockerignore
.eslintignore
.eslintrc
.postcssrc.js

sell/**
vue-example/**
Docs/**
